In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 39 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=d06f02353713d8d1afaace941a2427b9c06f1ddbbac8f3fdb38163c40976fc36
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
import collections

In [4]:
spark = SparkSession.builder.appName("first").getOrCreate()

In [8]:
df = spark.read.csv('covid_19_data.csv',inferSchema=True,header=True)

In [9]:
df.printSchema()

root
 |-- SNo: integer (nullable = true)
 |-- ObservationDate: string (nullable = true)
 |-- Province/State: string (nullable = true)
 |-- Country/Region: string (nullable = true)
 |-- Last Update: string (nullable = true)
 |-- Confirmed: double (nullable = true)
 |-- Deaths: double (nullable = true)
 |-- Recovered: double (nullable = true)

In [10]:
df.show()

+---+---------------+--------------+--------------+---------------+---------+------+---------+
|SNo|ObservationDate|Province/State|Country/Region|    Last Update|Confirmed|Deaths|Recovered|
+---+---------------+--------------+--------------+---------------+---------+------+---------+
|  1|     01/22/2020|         Anhui|Mainland China|1/22/2020 17:00|      1.0|   0.0|      0.0|
|  2|     01/22/2020|       Beijing|Mainland China|1/22/2020 17:00|     14.0|   0.0|      0.0|
|  3|     01/22/2020|     Chongqing|Mainland China|1/22/2020 17:00|      6.0|   0.0|      0.0|
|  4|     01/22/2020|        Fujian|Mainland China|1/22/2020 17:00|      1.0|   0.0|      0.0|
|  5|     01/22/2020|         Gansu|Mainland China|1/22/2020 17:00|      0.0|   0.0|      0.0|
|  6|     01/22/2020|     Guangdong|Mainland China|1/22/2020 17:00|     26.0|   0.0|      0.0|
|  7|     01/22/2020|       Guangxi|Mainland China|1/22/2020 17:00|      2.0|   0.0|      0.0|
|  8|     01/22/2020|       Guizhou|Mainland China|1/22/2020 17:00|      1.0|   0.0|      0.0|
|  9|     01/22/2020|        Hainan|Mainland China|1/22/2020 17:00|      4.0|   0.0|      0.0|
| 10|     01/22/2020|         Hebei|Mainland China|1/22/2020 17:00|      1.0|   0.0|      0.0|
| 11|     01/22/2020|  Heilongjiang|Mainland China|1/22/2020 17:00|      0.0|   0.0|      0.0|
| 12|     01/22/2020|         Henan|Mainland China|1/22/2020 17:00|      5.0|   0.0|      0.0|
| 13|     01/22/2020|     Hong Kong|     Hong Kong|1/22/2020 17:00|      0.0|   0.0|      0.0|
| 14|     01/22/2020|         Hubei|Mainland China|1/22/2020 17:00|    444.0|  17.0|     28.0|
| 15|     01/22/2020|         Hunan|Mainland China|1/22/2020 17:00|      4.0|   0.0|      0.0|
| 16|     01/22/2020|Inner Mongolia|Mainland China|1/22/2020 17:00|      0.0|   0.0|      0.0|
| 17|     01/22/2020|       Jiangsu|Mainland China|1/22/2020 17:00|      1.0|   0.0|      0.0|
| 18|     01/22/2020|       Jiangxi|Mainland China|1/22/2020 17:00|      2.0|   0.0|      0.0|
| 19|     01/22/2020|         Jilin|Mainland China|1/22/2020 17:00|      0.0|   0.0|      0.0|
| 20|     01/22/2020|      Liaoning|Mainland China|1/22/2020 17:00|      2.0|   0.0|      0.0|
+---+---------------+--------------+--------------+---------------+---------+------+---------+
only showing top 20 rows

**Countrywise Count**

In [11]:
df.groupBy('Country/Region').count().orderBy('Country/Region').show()

+-------------------+-----+
|     Country/Region|count|
+-------------------+-----+
|         Azerbaijan|    1|
|    ('St. Martin',)|    1|
|        Afghanistan|  177|
|            Albania|  163|
|            Algeria|  176|
|            Andorra|  170|
|             Angola|  152|
|Antigua and Barbuda|  159|
|          Argentina|  169|
|            Armenia|  171|
|              Aruba|    7|
|          Australia| 1509|
|            Austria|  176|
|         Azerbaijan|  171|
|            Bahamas|  150|
|       Bahamas, The|    3|
|            Bahrain|  177|
|         Bangladesh|  164|
|           Barbados|  155|
|            Belarus|  173|
+-------------------+-----+
only showing top 20 rows

**Countrywise Average Deaths**

In [13]:
from pyspark.sql import functions as f

In [15]:
df.select('Country/Region','Deaths').groupBy('Country/Region').agg(f.round(f.avg('Deaths'),2).alias('AvgDeaths')).show()

+--------------+---------+
|Country/Region|AvgDeaths|
+--------------+---------+
|          Chad|    46.97|
|        Russia|   140.49|
|      Paraguay|    21.02|
| North Ireland|      0.0|
|         Yemen|   221.05|
|       Senegal|    71.64|
|        Sweden|    338.9|
|    Cabo Verde|     9.84|
|        Guyana|    11.39|
|   Philippines|   790.91|
|        Jersey|      0.0|
|       Eritrea|      0.0|
|         Burma|     5.32|
|      Djibouti|    27.95|
|     Singapore|    14.52|
|      Malaysia|    75.57|
|          Fiji|     0.12|
|        Turkey|  3690.39|
|        Malawi|    33.54|
|          Iraq|   1333.3|
+--------------+---------+
only showing top 20 rows